In [1]:
#run following python script
#total number of months included in the dataset
#total amount of revanue gained over the entire period
#average change in revenue between months over the entire period
#the greatest increase in revenue (date and amount) over the entire period
#the greatest decrease in revenue (date and amount) over the entire period

In [2]:
import pandas as pd

In [3]:
data_file = "../PyBank/budget_data_1.csv"

In [4]:
#set up the data to see the heads of columns
data_df = pd.read_csv(data_file)
data_df.head()
df = data_df

In [5]:
#total date
total_date = data_df["Date"].count()
total_date

41

In [6]:
#total revenue
total_revenue = data_df["Revenue"].sum()
total_revenue

18971412

In [7]:
#average amount in revenue between months
average_revenue = total_revenue/total_date
average_revenue

462717.3658536585

In [8]:
#BONUS: round value of average amount to two decimal points
round_total = average_revenue.round(2)
round_total

462717.37

In [9]:
#the greatest increase in revenue (date and amount) over the entire period
df.loc[df['Revenue'].idxmax()]

Date        Sep-15
Revenue    1195111
Name: 35, dtype: object

In [10]:
#the greatest decrease in revenue (date and amount) over the entire period
df.loc[df['Revenue'].idxmin()]

Date         Aug-14
Revenue    -1172384
Name: 22, dtype: object

In [14]:
#summary

summary = pd.DataFrame(
            {"Total Months": total_date,
            "Total Revenue": total_revenue,
            "Average Amount": [round_total],
            "Greatest Increase Value": [df['Revenue'].max()],
            "Greatest Decrease Value": [df['Revenue'].min()]
            })
summary

,Average Amount,Greatest Decrease Value,Greatest Increase Value,Total Months,Total Revenue
0,462717.37,-1172384,1195111,41,18971412

In [15]:
#Final Summary

re_summary = summary[["Total Months","Total Revenue","Average Amount", "Greatest Increase Value","Greatest Decrease Value"]]
re_summary.head()

,Total Months,Total Revenue,Average Amount,Greatest Increase Value,Greatest Decrease Value
0,41,18971412,462717.37,1195111,-1172384